In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from bs4 import BeautifulSoup
import re
from random import randint
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pickle
import requests
import math
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import pyperclip

In [2]:
with open('Other-Grantees-LinkedIn.pkl', 'rb') as f:
    others_batch = pickle.load(f)
others_batch.shape

(12061, 6)

In [3]:
batch = (6000,7000)

In [4]:
others_batch = others_batch.loc[batch[0]:batch[1]]
others_batch.shape

(1001, 6)

In [5]:
others_batch.head(1)

,Grantees,Index,Found Names,Found Links,Found Results,Searching Name
6000,"BRASWELL, BEVERLY D",8446,NaN,NaN,NaN,NaN

# Names Pool Light Search

In [6]:
browser = webdriver.Chrome('/Users/macbook/Downloads/Chrome Driver/chromedriver')
sleep(3)
url = 'https://www.linkedin.com'
browser.get(url)

In [7]:
browser = webdriver.Chrome('/Users/macbook/Downloads/Chrome Driver/chromedriver')
sleep(3)
url = 'https://www.linkedin.com'
browser.get(url)
sleep(3)
browser.find_element_by_xpath('/html/body/nav/a[3]').click()
sleep(4)
browser.find_element_by_xpath('//*[@id="app__container"]/main/div[2]/form//div/button').click()

In [24]:
def get_light_linkedin(start, end, data, file, instr_path):
    for i in range(start, end): 

        name = data['Grantees'].loc[i]

        new_name = re.sub(r'( TRUSTEE| LLC| EST| OF| TRUST| INC| LTDA)','', name)
        new_name = re.sub(r'(( \w)+$)','', new_name)
        new_name = re.sub(r'( \w )',' ', new_name)
        new_name = re.sub(r'(\, )',' ', new_name)

        data['Searching Name'].loc[i] = new_name

        if 'marriott' in new_name.lower():
            continue

        browser.find_element_by_xpath(instr_path).send_keys(new_name)

        browser.implicitly_wait(0.4)
        browser.find_element_by_xpath(instr_path).send_keys(Keys.ENTER)
        print(i, new_name)

        sleep(randint(1,2)) 
        actions = ActionChains(browser)
        for _ in range(3):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            sleep(0.1)

        
        sleep(0.5)
        html = browser.page_source
        soup = BeautifulSoup(html, 'html.parser')

        sleep(0.1)
        found_names = []
        els = soup.findAll('span', attrs={'class':'name actor-name'})
        for a in els:
            found_names.append(a.text)

        if len(found_names) == 0:
            found_names='Not found'
            print('Not found')
        elif len(found_names) > 5:
            print(', '.join(found_names[:5]))
        else:
            print(', '.join(found_names))

        data['Found Names'].loc[i] = found_names

        sleep(0.1)
        found_links = []   
        els = soup.findAll('a', attrs={'class':'search-result__result-link ember-view'})
        for a in els:
            if a['href'] not in found_links:
                found_links.append(a['href'])
        if len(found_links) > 0:
            data['Found Links'].loc[i] = found_links

        # results
        try:
            results = browser.find_element_by_xpath(path_results).text
            print(results, '\n')
            data['Found Results'].loc[i] = results
        except:
            data['Found Results'].loc[i] = np.nan

        browser.find_element_by_xpath(instr_path).clear()

        if i%50==0 or i==end-1:
            sleep(randint(5,15))
            print(i,'Saved')
        with open(file, 'wb') as f:
            pickle.dump(data, f)
        
        # check limit
        try:
            limit_path = '/html/body/div[9]/div[4]/div/div/h1'
            limit = browser.find_element_by_xpath(limit_path).text
            if limit:
                print('Limit is reached')
                break
        except:
            pass

In [25]:
path_results = '/html/body/div[9]/div[4]/div/div[2]/div/div[2]/div/div/div/div/h3'
instr_path = '/html/body/header/div/form/div/div/div/div/div[1]/div[1]/input'

In [26]:
file = 'Other-Grantees-LinkedIn-Batch_{}-{}.pkl'.format(batch[0], batch[1])
file

'Other-Grantees-LinkedIn-Batch_4000-5000.pkl'

In [ ]:
get_light_linkedin(batch[0]+2, batch[1], others_batch, file, instr_path)

4002 TAN ANNETTE
Annette Tan, Annette Tan, Annette Tan, Annette Tan, Annette Tan
Showing 126 results

4003 ANNETTE TAN REVOCABLE LIVING
Not found
4004 BERTHOLD JUERGEN
Berthold Juergen, Juergen Berthold, Juergen Berthold, Juergen Berthold, Prof. Juergen Czarske
Showing 9 results

4005 BERTHOLD ELIZABETH
Elizabeth Berthold, Elizabeth Berthold, Elizabeth Berthold, Elizabeth Hegedus-Berthold, Liz Berthold
Showing 18 results

4006 HOROWITZ LEO
Leo Horowitz, Leo Horowitz, Leonard Horowitz, Leonard Horowitz, Leonard Horowitz
Showing 84 results

4007 HOROWITZ MARCIA
Marcia Horowitz, Marcia Horowitz, Marcia Luxenburg-Horowitz, Marcia Horowitz, MARCIA HOROWITZ
Showing 22 results

4008 NORTHENOR DENNIS
Dennis Northenor
Showing 1 result

4009 NORTHENOR JOYCE
Not found
4010 SMITH TERRANCE
Terrance Smith, Terrance Smith, Terrance smith, Terrance D. Smith  MA Ed., Terrance Smith
Showing 1,314 results

4011 RISLEY BONITA
Bonita Risley, Bonita Lock/Risley, Bonita Watkins
Showing 4 results

4012 RISLEY JERROLD
Not found
4013 KELLER DIANE
Diane Keller, Diane Doherty, Diane Keller, Diane Keller, Diane Keller
Showing 1,480 results

4014 KELLER ROBERT
Robert Keller, Bob Keller, rob keller, Rob Keller, Robert Keller
Showing 10,524 results

4015 BARON MICHELLE
Michelle Baron, Michelle Baron, Michelle Baron, Michelle Baron, Michelle Baron
Showing 421 results

4016 BARON PETER
Peter Baron, Peter Baron, peter Baron, Peter Baron, Peter Baron
Showing 1,121 results

4017 FAIR VICTORIA
Sarah Fair
Showing 27,724 results

4018 ROBISON AMANDA
Amanda Robison, Amanda R., Amanda Robison, Mandy Robison, Amanda Siefring
Showing 86 results

4019 ROBISON GLEN
Glen Robison, Glen Robison, Glen Robison, Glen Robison, Glen Robison
Showing 49 results

4020 BRANKA JOHN
JOHN BRANKA, John Branka, JOHN BRANKA, JR., John Branka II, Branka Andjelkovic
Showing 35 results

4021 BRANKA MARY ELLEN
Not found
Showing 1 result

4022 SAVAGE THERESA
Theresa Savage, Theresa Savage, Theresa Savage, Theresa Savage, Theresa Savage
Showing 206 results

4023 KIFFMEYER JOSEPH
Joe Kiffmeyer, Dale Kiffmeyer, Kiffmeyer Bill, Darren Kiffmeyer
Showing 5 results

4024 KIFFMEYER JULIE
Julie Kiffmeyer, Julie Kiffmeyer, Julie Braschayko
Showing 3 results

4025 BROWN GREGORY
gregory brown, Gregory Brown, Greg Brown, Gregory Brown, Gregory Brown
Showing 8,258 results

4026 BROWN JAN
Ashley Brown, Jan Brown, Jan Brown, Jan Brown, Jan Brown
Showing 11,301 results

4027 ERDNER JOYCE
Joyce Erdner, Erdner Joyce
Showing 2 results

4028 ASBURY ELIZABETH
Elizabeth Asbury, Elizabeth Asbury, Elizabeth Asbury, Elizabeth Hetherington, Elizabeth Asbury
Showing 572 results

4029 HATCHETT MARK
Mark Hatchett, Mark Hatchett, Mark Hatchett, Mark Hatchett, Mark Hatchett
Showing 72 results

4030 HATCHETT ULLA
Not found
4031 KRANICH RUSSELL
Russ Kranich
Showing 1 result

4032 MCPHERSON SUZANNE
Suzanne McPherson, Suzanne McPherson, Suzanne McPherson, Suzanne McPherson, Suzanne McPherson
Showing 73 results

4033 MCPHERSON RICHARD JR
Rick McPherson Jr, Richard V Keim Jr, H Dick Reynolds Jr, Liam McPherson
Showing 26 results

4034 IRANNEJAD SAID
Said Irannejad, Saeed Irannejad Bisafar, saeed irannejad, Saied Irannejad, Saied Irannejad
Showing 6 results

4035 IRANNEJAD DJAHANGUIR
Not found
4036 IRANNEJAD FARIDEH
Farideh Irannejad
Showing 1 result

4037 IRANNEJAD KATAYOON
Not found
4038 LEPPEN ROBERT
Robert Leppen, Robert Leppen,  SPHR, SCP, Robert Grzybek
Showing 3 results

4039 LEPPEN JOYCE
Not found
4040 AMBLER RONALD
Ronald Ambler Abraham, Ronald Ambler, Ron Ambler, Ronnie AMBLER, Ronald Ambler
Showing 104 results

4041 AMBLER LUCILLE
Lucille Ambler, lucille daniel, Lucille Sulock
Showing 11 results

4042 FINN JAMES
Finn James, James. Finn, james finn, James Finn, James Finn
Showing 1,630 results

4043 FINN CANDACE
Candace Finn, Candace Finn, candace J finn finn, Candace Finn Rocha, Candace Finn
Showing 23 results

4044 LOPEZ ALEX JOSE PRIETO
Alexandra Arenaza López de Alda, Juan Josè Lopez
Showing 19 results

4045 PRIETO HERMINIA
Herminia Pico Prieto, Herminia Prieto Olmos, Herminia Milagros León Prieto, Julio Herminio Pimienta Prieto, Herminio Prieto
Showing 10 results

4046 FLETCHER DARRELL
Darrell Fletcher, Darrell Fletcher, Darrell Fletcher, Darrell Fletcher, Darrell Fletcher
Showing 87 results

4047 FLETCHER JULIE
Julie Fletcher, Julie Fletcher, Julie Fletcher, Julie Fletcher, Julie Fletcher
Showing 920 results

4048 GARRISON AUNDRA
Aundra Garrison
Showing 1 result

4049 GARRISON THOMAS
Garrison Thomas, Garrison Thomas, Garrison Thomas, Garrison Thomas, Thomas Garrison
Showing 1,904 results

4050 HARMON LYNN
Lynn Harmon, Lynn Harmon, Lynn Harmon, Lynn Harmon, Lynn Harmon
Showing 170 results

4050 Saved
4051 HARMON THOMAS
Thomas Harmon, Tommy Harmon, Tom Harmon, Thomas Harmon, Tom Harmon
Showing 1,117 results

4052 SNIPES KAY
Kay Snipes, Kay Snipes, Kay Snipes, Kay Snipes, Kay Snipes
Showing 14 results

4053 SNIPES ROBERT
Rob Snipes, Robert Snipes, Robert Snipes, Robert Snipes, Robert Snipes
Showing 191 results

4054 HAMMOND GERALD
Gerald Hammond, Jerry Hammond, Jonathan Jerry Hammond, Gerald Hammond, Jerry Hammond
Showing 416 results

4055 HAMMOND SUSAN
Susan Hammond, Susan Hammond, Susan Hammond, Susan Hammond, Sue Hammond
Showing 1,020 results

4056 PRICE DAVID
David Price, David Price, Dave Price, CFA, David Price, David Price
Showing 51,364 results

4057 PRICE KAY
Kay Price,PHR, CSSGB, Kay Price, Kay Price, Price Kay, Kay Price
Showing 4,536 results

4058 CREWS CHARLES
Charles C. Crews, Charles Crews, Charlie Crews, Charles C., Charles Crews
Showing 5,383 results

4059 CREWS MARY
Mary Crews, Mary Crews, Mary Crews, Mary Crews, Mary Crews
Showing 4,622 results

4060 FAGAN GARY
Gary Fagan, Gary Fagan, Gary Fagan, Gary Fagan, Gary Fagan
Showing 137 results

4061 FAGAN NANCY
Nancy Fagan, Nancy Fagan, Nancy Fagan, Nancy Fagan, Nancy Fagan
Showing 94 results

4062 VLASIC JOHN
John Vlasic, John Vlasic, john vlasic, john vlasic, John Vlasic
Showing 78 results

4063 VLASIC TARA
Arul Joseph Easiah
Showing 6 results

4064 FRASER BRUCE
Fraser Bruce, Bruce Fraser, Bruce Fraser, Fraser Bruce, Fraser Bruce
Showing 1,431 results

4065 WILCOX RICHARD
Richard Wilcox, Richard Wilcox, Richard Wilcox, Richard Wilcox, Richard Wilcox
Showing 1,072 results

4066 WILCOX DAVID
David Wilcox, David Wilcox, David Wilcox, David Wilcox, David Wilcox
Showing 1,989 results

4067 WILCOX JUDITH
Judith Wilcox, Judith Wilcox, Judith Wilcox, Judith Wilcox, Judy Wilcox
Showing 166 results

4068 WILCOX RICHARD
Richard Wilcox, Richard Wilcox, Richard Wilcox, Richard Wilcox, Richard Wilcox
Showing 1,072 results

4069 WILCOX JULIE
Julie Wilcox, Julie Wilcox, Julie Wilcox, Julie Wilcox, Julie Wilcox
Showing 341 results

4070 CHANG DELPHINE
Delphine Chang, Delphine Chang, Delphine Chang, Delphine Chang, Hsiao-Chen(Delphine) Chang
Showing 22 results

4071 CHANG WILLIAM
William Chang, Yunxiang (William) C., William Chang, Bill Chang, William Chang
Showing 2,675 results

4072 MANKER LORAINE
Not found
4073 WILLIAMSON ROBERT JR
James Robert Williamson Jr., Robert G. Williamson, Jr., Robert Williamson Jr., Caroline Williamson, Robert Williamson
Showing 157 results

4074 WILLIAMSON VIRGINIA
Sarah B. Williamson Kirwin, Margaret Williamson Gokturk, Liberty Williamson, Carl Williamson, David O. Williamson
Showing 5,114 results

4075 PASCUCCI STEPHEN
Stephen Pascucci, Stephen Pascucci, Steve Pascucci, Stephen Pascucci, Steven Pascucci
Showing 17 results

4076 PASCUCCI ROSANNE
Rose Ann Pascucci
Showing 1 result

4077 BLACK ELENA
Elena Black, Elena Black, Elena Black, Elena Black, Elena Black
Showing 2,322 results

4078 BLACK MARTIN
Martin BLACK, Martin Black, Martin Black, Martin Black, Martin Black
Showing 41,210 results

4079 HEINRICH JOY
Joy Heinrich, Joy Heinrich, JOY LI, Heinrich von Bohlen und Halbach
Showing 159 results

4080 HEINRICH LAWRENCE
Laurence Heinrich, Larry Heinrich, Larry H., Larry Heinrich, Larry Heinrich
Showing 129 results

4081 HAYNES GREGORY
Gregory Haynes, Greg Haynes, Gregory Haynes, Gregory Haynes, Gregory Haynes
Showing 341 results

4082 HAYNES SHARON
SHARON HAYNES, Sharon Haynes, Sharon H., Sharon Haynes, Sharon Haynes
Showing 283 results

4083 POWELL DAVID
Dave Powell, Dave Powell, David Powell, David Powell, David Powell
Showing 6,419 results

4084 POWELL JOAN
Joan Powell, joan powell, Joan Powell, Joan Powell, Joan Powell
Showing 552 results

4085 VLACH DIANE
Diane Vlach
Showing 2 results

4086 VLACH JEFFREY
Jeff Vlach, Jeff Vlach, Jeff Vlach, Jeff Vlach, Jeff Vlach
Showing 11 results

4087 KARRIKER DONALD
Don Karriker, Don Karriker, Eben Karriker
Showing 3 results

4088 KARRIKER PATRICIA
Patricia Karriker
Showing 1 result

4089 MORIN DALE
Dale Morin, Dale Morin, Dale M., Dale Morin, Dale M.
Showing 89 results

4090 MORIN STANLEY
Stanley J. Morin, Stanley Morin MSN,RN,PCCN, Stanley Morin, Stan Morin, Stan Morin
Showing 110 results

4091 RUGGIERO LISA
Lisa Ruggiero, Lisa Seigies, Lisa Ruggiero, Alisa (Lisa) Ruggiero, Lisa Ruggiero
Showing 141 results

4092 RUGGIERO MICHAEL
Michael Ruggiero, Michael Ruggiero, Michael J. Ruggiero, Michael Ruggiero, Michael Ruggiero
Showing 409 results

4093 CHILDRESS MALINDA
Melinda Childress, Melinda Childress, Melinda Childress, Melinda Childress, Melinda Childress
Showing 23 results

4094 CHILDRESS SAMUEL
Samuel Childress, samuel childress, Samuel Childress, samuel childress, samuel childress
Showing 59 results

4095 OPPENHEIM JO ANNE
Joanne Oppenheim, Joanne Oppenheim, Joanne Oppenheim-Kromash
Showing 5 results

4096 OPPENHEIM ARNOLD
Arnold Oppenheim, Arnold Oppenheim, Seth Oppenheim
Showing 26 results

4097 DE REY SANDRA VELEZ
Sandra Milena Martínez Leon, Duendes de Oriente
Showing 9 results

4098 SPITZER VICTOR REY
Not found
Showing 2 results

4099 CLARK SUSAN
Susan Kerkhof-Clark, Susan Clark, Susan Clark, Susan Clark, Sue Clark
Showing 6,343 results

4100 CLARK TERENCE
Terry Clark, Terence Clark, Terence Clark, Terry Clark, Terry Clark
Showing 1,926 results

4100 Saved
4101 WILKERSON LYNN
Lynn Wilkerson, Lynn W., Lynn Wilkerson, Lynn Wilkerson, Lynn Wilkerson
Showing 80 results

4102 DICKSON DAVID
David Dickson, David Dickson, David Dickson, Dave Dickson, David Dickson
Showing 2,001 results

4103 DICKSON STACY
Dickson Stacy, Stacey Dickson, Stacy Dickson, Stacy Dickson, Stacey Dickson
Showing 130 results

4104 HENDERSON BONNIE
Bonnie Henderson, Bonnie Henderson, Bonnie Henderson, Bonnie Henderson, Bonnie Henderson
Showing 451 results

4105 MESA JUAN CAMILIO SUAREZ
Not found
4106 MESA FREDERICO SUAREZ
Not found
4107 SUAREZ LUIS GUILLERMO
Luis Guillermo Suárez, Luis Guillermo Suarez, Luis Guillermo Suarez, luis guillermo suarez leon, luis guillermo suarez jaramillo
Showing 196 results

4108 DE SUAREZ MARIA MESA
María Suarez, Maria Soler Suarez, María de la Paz Orellana Suárez, Maria Alicia Sánchez Suárez, Maria José Suarez Mesa
Showing 200 results

4109 DE GUERRA GUTIERREZ
Hernán Gutiérrez Guerra, David Eduardo Gutiérrez Guerra, Pablo Gutierrez Guerra, José E. Gutiérrez Guerra, Tamara Gutierrez Guerra
Showing 1,257 results

4110 GUERRA ERNESTO
Ernesto Guerra, Ernesto Guerra, Carlos Guerra, Ernesto Guerra, Ernesto Guerra
Showing 922 results

4111 BAYNE JIMMY
Jimmy Bayne, Jimmy Bayne, Jimmy Bayne, Jimmy Bayne, Jimmy Bayne
Showing 23 results

4112 CAPOBIANCO NANCY
Nancy Capobianco, Nancy Capobianco, Nancy Capobianco, NANCY CAPOBIANCO, Nancy Capobianco
Showing 11 results

4113 CAPOBIANCO DANIEL
Daniel Capobianco, daniel capobianco, Daniel Capobianco, Daniel Capobianco, Daniel Capobianco
Showing 69 results

4114 PENDERGAST SHERRIL
Cheryll Pendergast, Cheryl Pendergast, Cheryl Pendergast
Showing 3 results

4115 PENDERGAST MALCOLM
Malcolm Pendergast, Malcolm Pendergast
Showing 3 results

4116 MILNER EDWARD BLAINE
Malcolm Pendergast, Malcolm Pendergast
Showing 1 result

4117 SCHWARTZ CHARLES
Charles Schwartz, Charles Schwartz, Chuck Schwartz, Charles Schwartz, Charles Schwartz
Showing 1,626 results

4118 SCHWARTZ LINDA
Linda Schwartz, Linda Schwartz, Linda Schwartz, Linda Schwartz, Linda Schwartz
Showing 761 results

4119 DE LACY CATHARINE
Catharine de Lacy, Catharine de Lacy, Catherine de Lacy, Marta de la Parra Prieto
Showing 5 results

4120 SHARMA BHARATI
Bharati Dixit, Bharati Sharma, Bharati Sharma, Bharati Sharma, BHARATI SHARMA
Showing 3,453 results

4121 SHARMA BHUDEV
Bhudev Sharma, bhudev sharma, Bhudev Sharma, Bhudev Sharma, Bhudev Sharma
Showing 52 results

4122 BOODRAM GEORGE
George Boodram, George Boodram, George Boodram, Emily B., Allyson Boodram
Showing 17 results

4123 BOODRAM MARY
Mary Boodram, Maryann Boodram, Shannon Boodram, Kevin Boodram, Nadia Boodram
Showing 7 results

4124 MOFFITT COLETTE
Rachel Colette Moffitt, Colette Dulude-Schietromo
Showing 5 results

4125 MOFFITT FREDERICK
Freddie Moffitt, Fred Moffitt, Freddie Moffitt, Fred Moffitt, fred moffitt
Showing 52 results

4126 FRANKLIN MARTHA
Martha Franklin, Martha Franklin, Martha Franklin, Martha Franklin, Martha Franklin
Showing 1,302 results

4127 FRANKLIN WENDELL
Wendell Franklin, Wendell Franklin, Franklin Wendell, Wendell Franklin, Wendell Franklin
Showing 218 results

4128 JOHNSON ALBERT
Albert Johnson, Albert Johnson, Johnson Albert Joseph Raj, Johnson Albert, Albert Johnson
Showing 7,125 results

4129 JOHNSON BARBARA
Barbara Johnson, Barbara Johnson, Barbara Johnson, Barbara Johnson, Barb Johnson
Showing 13,795 results

4130 WAYDA JUDITH
Judy Wayda-Christiansen, Judy Wayda
Showing 2 results

4131 WAYDA WILLIAM GEORGE
Not found
4132 ZAPPE RICHARD
Richard Zappe, richard zappe, RICHARD ZAPPE
Showing 8 results

4133 AMBROZY COLLEEN
Colleen Ambrozy, colleen ambrozy
Showing 2 results

4134 CARMELI ANTHONY
Anthony Carmeli, Anthony J. Carmello, anthony carmelo, Anthony Carmello, Anthony K Carmelo
Showing 39 results

4135 DE GONZALEZ ROSALBA BRANDI
Not found
4136 HANSMANN SANTIAGO GONZALEZ
Not found
4137 SIMERDA ANGELA
Angie Simerda
Showing 1 result

4138 SIMERDA FRANK
Frank Simerda
Showing 1 result

4139 MAXWELL JANET
Janet Maxwell, Maxwell Janet, Janet Maxwell, Janet Maxwell, Janet Maxwell
Showing 325 results

4140 GARRETT BILLY
Billy Garrett, William Garrett, Billy Garrett, Billy Garrett, John W. "Billy" Garrett
Showing 744 results

4141 GARRETT PAMELA
pam garrett, Pamela Cannell, Pamela Garrett, Pamela Garrett, Garrett Pamela
Showing 342 results

4142 KING DONALD
Donald King, Falana Dula-King, King Donald, Donald King, Donald King
Showing 7,150 results

4143 KING KATHLEEN
Kathleen King, Kathleen King, Kathleen King, Kathleen King, Kathleen King
Showing 4,214 results

4144 GEIGER EUGENE
Gene Geiger, CISSP, CPA, HITRUST CCSFP, QSA, Gene Geiger, Eugene Geiger, Eugene Geiger, Eugene Geiger
Showing 61 results

4145 GEIGER JANICE
Janice Geiger, Janice Geiger, janice geiger, Janice Geiger, Janice Baum
Showing 22 results

4146 ZACK STAN
Zac Stan, Zack Stan, Stan Zack, Zack et Stan " Les Sales Gosses de la Magie", Zack Stan
Showing 54 results

4147 RUSIN MARK
Mark Rusin, Mark Rusin, Mark Rusin, mark roossien, Mark Rusin
Showing 36 results

4148 RUSIN DEBORAH
Deborah Rusin, Deborah Rusin, Debbie Rusin, Debbie Rusin, Debbie Rusin
Showing 9 results

4149 LINGNER JOHN
John Lingner, John Lingner, John Lingner, Via_John Lingner, John Langner
Showing 24 results

4150 LINGNER PHYLLIS
Not found
4150 Saved
4151 CASTLE ROBERT
Robert Castle, Robert Castle, Robert Castle, Bob Castle, Robert C.
Showing 8,489 results

4152 CASTLE KATHLEEN
Kathleen Castle Kuhn, Kathy Castle, Kathy Castle, Kathy Castle, Kathleen Castle
Showing 1,056 results

4153 CIMAROSTI JERRY
Jerry Cimarosti
Showing 1 result

4154 CIMAROSTI CHRISTINE
Not found
4155 YARNALL DAVID
David Yarnall, David David Yarnall, David Yarnall, David Yarnall, David Yarnall
Showing 76 results

4156 YARNALL KRISTI
Kristi Tousley, Kristi Yarnall, Kristi Yarnell, Kristi Yarnell, Kristin Yarnall
Showing 10 results

4157 WITMER JOYCE
Joyce Wittmer
Showing 1 result

4158 WITMER ROBERT
Rob Witmer, Robert Witmer, Bob Witmer, Robert N Witmer, Rob Witmer
Showing 98 results

4159 VAN SCIVER PATRICIA
Patricia Van Sciver, Pat Daw
Showing 2 results

4160 VAN SCIVER WARNER
Not found
Showing 3 results

4161 JOHNSON DEBORAH
Deborah Sandahl, Deborah Johnson, Deborah Johnson, Deborah Johnson, Debbie Johnson
Showing 12,247 results

4162 JOHNSON GLEN
Glen Johnson, Glenn Johnson, Glenn Johnson, Glen Johnson, Glen Johnson
Showing 6,959 results

4163 JONES GERALD
Jerry Jones, Gerald Jones, Jerry Jones, Jerry Jones, Gerald Jones
Showing 4,598 results

4164 JONES LYNN
Lynn Jones, Lynn Jones, Lynn Jones, lynn jones, Lynn Jones
Showing 3,879 results

4165 GONZALEZ TERESA
Tessa Pastor González, Teresa gonzalez, Teresa Gonzalez Rico, Teresa Gonzalez, Teresa Gonzalez
Showing 7,635 results

4166 GONZALEZ RODRIGO
Rodrigo Gonzalez Argueta, Rodrigo Samayoa González, Rodrigo Gonzalez Lopez, Rodrigo Gonzalez, Rodrigo G.
Showing 7,540 results

4167 ONETTO RAIMUNDO
Raimundo Onetto, Raimundo Onetto, Raimundo Onetto, Raimundo Onetto
Showing 4 results

4168 DEMARIA MARCELA
Marcela Demaria, Marcela Demaria, Marcela Demaria, Marcela Viviana Demaria Baez, MARCELA MARIA DE ALMEIDA
Showing 59 results

4169 KARCHNER JUDY
judith kirchner, Judy Karchner, Al & Judy Karchner, Judy Kirchner, Judy Kirchner-Davis
Showing 37 results

4170 KARCHNER ALLAN
Allan Karchner, Allan Kirchner-Theriault (He/Him), allan kirchner
Showing 16 results

4171 BAILEY BILLY
Billy Bailey, Billy Bailey, Billy Bailey, Billy Bailey, Billy Bailey
Showing 1,774 results

4172 BAILEY MARTHA
Martha Bailey, Martha Bailey, Martha Bailey, Martha Bailey, Martha Bailey
Showing 511 results

4173 SHAH ANJANA
Anjana Shah, Anjana Shah, Anjana Shah, Anjana Shah, Anjana Shah
Showing 112 results

4174 SHAH DINESH
Dinesh Shah, Dinesh Shah, Dinesh Shah, Dinesh Shah, Dinesh Shah
Showing 1,247 results

4175 O MALLEY FRANCIS
Francis O Malley, Francis O malley, Chuck O' Malley
Showing 15 results

4176 O MALLEY MARGARET
Francis O Malley, Francis O malley, Chuck O' Malley, Marilyn O Malley
Showing 7 results

4177 HILL STEED
Hill Steed, Pamela Steed Hill, Pamela Stead, Hill Stead
Showing 258 results

4178 HILL SUZANNE
Suzanne Hill, Suzanne Hill, Suzanne Hill, Suzanne Hill CQP FCQI, Suzanne Hill
Showing 4,001 results

4179 QUINN EVELYN
Evelyn Quinn, Evelyn Quinn, Evelyn Quinn, Evelyn Quinn, Evelyn Quinn
Showing 89 results

4180 QUINN JOHN
John Quinn, John Quinn, John Quinn, John Quinn, John Quinn
Showing 6,525 results

4181 WILLIAMS JEAN
Jean-nara Williams, Jean Moody-Williams, Jean Williams, Jean Williams, Jean Williams
Showing 5,196 results

4182 WILLIAMS NATHAN
Nathan Williams, Nathan Williams, Nathan Williams, Nathan Williams, Nathan Williams
Showing 4,430 results

4183 MILTON CHRISTY GRIMES
Christy Milton
Showing 1 result

4184 MILTON JOHN SCOTT
John Scott, John Scott
Showing 378 results

4185 GREENE BRIDGETT
Bridgett Greene, Bridgett Greene, Bridgett Greene, Bridgett Pollock, Bridgett Nobili
Showing 13 results

4186 GREENE WILLIAM
William Greene, William Greene, Bill Greene, William Greene, William Greene
Showing 3,083 results

4187 JORDAN LEROY
Jordan Leroy, Jordan Leroy, jordan leroy, jordan leroy, Jordan Leroy
Showing 360 results

4188 JORDAN MARIAN
Marian Jordan, Marian Jordan, Jordan Marian, Marian Jordan, Marian Jordan
Showing 482 results

4189 GLASS MARQUETTA
Marquetta Glass, Marquetta Glass
Showing 4 results

4190 TURNER CAROLYN
Carolyn Turner, Carolyn Turner, Carolyn Turner, Carolyn Turner, Carolyn Turner
Showing 995 results

4191 TURNER PHILLIP
Philip Turner, Phillip Turner, Phil Turner, Philip Turner, Philip Turner
Showing 2,151 results

4192 FRANKLIN ALZONO EDWARD SR
Not found
4193 FRANKLIN ROSA EMMA
Not found
4194 CADENAS VIANA
Not found
Showing 83 results

4195 CADENAS WINSTON
Winston Cadenas, Winston Cadenas
Showing 46 results

4196 KREUTER DANIEL
Daniel Kreuter, Daniel Kreuter, Dan Kreuter, Daniel Kreuter, Dan Kreuter
Showing 18 results

4197 KREUTER KAREN
Karen Kreuter, Kreuter Karen, Karin Kreuter, karen Karen  Kreuter
Showing 6 results

4198 TANTARI MARK
Mark Tantari, John Tantari
Showing 2 results

4199 TANTARI MICHELLE
Michelle Tantari, Michela Tantari
Showing 2 results

4200 THOMAS CHARLETTA
Charletta Thomas, charletta thomas, Charle'tta Briggs, Charletta Leon, MBA
Showing 4 results

4200 Saved
4201 THOMAS TED SR
ted thomas, Ted Thomas, Ted Thomas Sr, Ted Thomas, Ted Thomas
Showing 248 results

4202 WITMER CLAIR JR
Not found
4203 LOMAX JUDY
Judy Lomax, judy lomax, Judith Lomax, judy lomax, Judy Lomax
Showing 19 results

4204 LOMAX DONALD
donald lomax, Donald Lomax, Donald Lomax, Donald Lomax, Donald Lomax
Showing 58 results

4205 KHO RONALD
Ronny Kho (Ba), Ronald Kho, Ronald Kho, Ronald Kho, ron kho
Showing 33 results

4206 KHO HWIE
Not found
4207 WILLIAMS BILLY JOE JR
William Muhammad jr., William R. Britton, Jr.
Showing 97 results

4208 WILLIAMS MARTHA
Martha Williams, Martha Williams, Martha Williams, Martha Williams, Martha Harris
Showing 3,057 results

4209 THOUVENELL JOSEPH
Joe Thouvenell, Joseph Thouvenell jr, Jay Thouvenell
Showing 3 results

4210 THOUVENELL BARBARA
Barbara Thouvenell-Baffoe
Showing 1 result

4211 DE ARTEAGA MARIA
Maria De-Arteaga, Maria Cristina de Arteaga, Maria de los Angeles Arteaga Valencia, Maria Cervera de Arteaga, María de los Angeles Arteaga Andrade
Showing 6,075 results

4212 PARODI ALEJANDRO ARTEAGA
Not found
4213 DUFF DANN
Dann Duff, Duff Dan, Janyne Duff
Showing 6 results

4214 DUFF JANYNE
Janyne Duff
Showing 1 result

4215 AMPREY FREDA
Not found
4216 AMPREY WALTER
Walter Amprey, Walter Amprey
Showing 2 results

4217 AKERS BILLIE FAYE
Not found
4218 AKERS WILLIAM
Bill Akers, William Akers, William Akers, William Akers, William Akers
Showing 337 results

4219 WILLIAM & BILLIE KAYE AKERS
Not found
4220 KUNAS WILLIAM
Willie Friar
Showing 1 result

4221 KUNAS JUDITH
Not found
4222 DOLOR MELINDA
Melinda Dolor
Showing 2 results

4223 DOLOR ROBERT
Robert Dolor, Robert Dolor, Jan Robert Dolor, Robert Almagro
Showing 162 results

4224 BATTON SUE
Sue Leonard, Susan Batton, Sue Broadway, Susan Sayre Batton, Susan Moore
Showing 6 results

4225 BATTON GILMER
Not found
4226 HANNAFORD NANCY ELIZABETH
Nancy Brito
Showing 2 results

4227 JARMUL BENJAMIN JR
Benjamin Jarmul, Jr. CPA, FHFMA
Showing 1 result

4228 SANTORO PAMELA
Pamela Santoro, Pamela Santoro, Santoro Pamela, pam santoro, Pam Santoro
Showing 33 results

4229 SALMON BERNARD
Bernard Salmon, Bernard SALMON, bernard salmon, Bernard Salmon, Bernard Salmon
Showing 341 results

4230 MINO EDWARD
Edward Miño, Edward Mino, Deusdeti - Ed Mino, Eddie Mino, Deusdeti - Ed Mino
Showing 33 results

4231 MINO JEANNE
jeanne jaffe
Showing 9 results

4232 TONEY YVONNE
Yvonne Toney, Yvonne Toney, Yvonne Toney, Yvonne Toney, Yvonne Toney
Showing 17 results

4233 TONEY THOMAS
Toney T., Toney Thomas, Toney Thomas, Toney Thomas, Toney Thomas
Showing 168 results

4234 HOGAN JOANNE
Joanne Hogan, Joanne Hogan, Joanne Hogan, Joanne Hogan, Joanne Hogan
Showing 328 results

4235 HOGAN JOHN
John Hogan, John Hogan, John Hogan, John Hogan, john hogan
Showing 6,070 results

4236 SMITH BERNICE
Bernice Smith-Janssen, Bernice Smith, Bernice Smith, Bernice Smith, Bernice Smith
Showing 433 results

4237 SMITH ROLAND
Roland Smith, Roland Smith, Roland Smith, Roland Smith, Roland Smith
Showing 3,107 results

4238 DAWSON GEORGE
George Dawson, George Dawson, george dawson, George Dawson, George Dawson
Showing 2,557 results

4239 DAWSON JUDITH
Judith Dawson, Judith Dawson, Judith Dawson, Judith Dawson, judith dawson
Showing 387 results

4240 COLEMAN JAMES JR
James W Coleman Jr., James Coleman, Jr., james coleman jr, James Coleman Jr, Dr. James L. Coleman, Jr.
Showing 260 results

4241 COLEMAN PATRICIA
Patricia Churchill, Patricia Coleman, Patricia Coleman, Patricia Coleman, Patricia Coleman O.B.E.
Showing 1,121 results

4242 HLAVENKA THOMAS
Thomas Hlavenka, Tom Hlavenka, Thomas Hlavenka, Malinda Hlavenka, Larry Hlavenka
Showing 6 results

4243 JURCISIN CHERYL
Not found
4244 INCER ROBERTO
Roberto Incer, Paola Nunez Incer
Showing 3 results

4245 INCER MARISA
Marissa Incer
Showing 1 result

4246 FALLON VIRGINIA
virginia fallon, Virginia Fallon, Virginia Fallon
Showing 1,313 results

4247 FALLON WILLIAM
Bill Fallon, William Fallon, William Fallon, William Fallon, Bill Fallon
Showing 1,446 results

4248 MULLIGAN DONALD
Donald Mulligan, Donald Mulligan, Donald Mulligan, Donald Mulligan, Donald Mulligan
Showing 163 results

4249 MULLIGAN PATRICIA
Patricia Mulligan, Patricia Mulligan, Patricia Mulligan, Pat Mulligan, Patricia Mulligan
Showing 319 results

4250 CHOPP GEORGE
George Chopp, george George Chopp, Brian M. Chopp, D.Sc., PMP
Showing 17 results

4250 Saved
4251 GEORGE CHOPP REVOCABLE
Not found
4252 SNITKER JAMES
James Snitker, James Snitker, James Snitker, Jamie Snitker
Showing 11 results

4253 WYLIE JANET
Janet Wylie, Janet Wylie, Janet Wylie, Janet Wylie, Janet Wylie
Showing 94 results

4254 WILLIAMSON PHYLLIS
Phyllis Williamson, Phyllis Williamson, Phyllis Williamson, Phyllis Williamson, Phyllis Williamson
Showing 64 results

4255 WILLIAMSON TERRY
Kevan Williamson, Joseph (Terry) Williamson, Michael Williamson, Terry Parker
Showing 675 results

4256 DE NOVOA LORENA
Lorena Novoa, Lorena Novoa, lorena novoa, Lorena Novoa, Lorena Novoa
Showing 64 results

4257 NOVOA Y MAXIMILIANO GUILLERMO
Not found
4258 TROIANO & ASSOCIATES
Domenic Troiano, FCPA, MIPA, CTA, RTA, AFA
Showing 71 results

4259 TAYLOR LORRAINE
Lorraine Taylor, Lorraine T., Lorraine Taylor, Lorraine Taylor, Lorraine Taylor
Showing 952 results

4260 TAYLOR ROBERT
robert taylor, Robert Taylor, robert taylor, bob taylor, Robert Taylor
Showing 23,564 results

4261 BUCCELLATO ANTHONY
Anthony Buccellato, Anthony Buccellato, anthony Buccellato, Anthony Buccellato, Anthony Buccellato
Showing 14 results

4262 BUCCELLATO THERESA
Theresa Buccellato, Maria teresa Buccellato, Maria Teresa Buccellato, Teresa Buccellato
Showing 4 results

4263 RICHEY RIVES
Rives Richey, Richey Reeves, CPCU, AIC, Richéy Reeves, Zechariah Rives
Showing 5 results

4264 RICHEY DEBORAH
Deborah Richey, Deborah Richey, Deborah Richey, Deborah Richey, Deborah Richey
Showing 424 results

4265 CRABBS RICHARD
Richard Crabbs, Rick Crabbs, Richard Crabbs, Richard Crabbs, Rick Crabbs
Showing 6 results

4266 CRABBS BONNIE
Not found
4267 KAPLAN BARRY
Barry Kaplan, Barry Kaplan, Barry Kaplan, Barry K., Barry Kaplan
Showing 998 results

4268 KAPLAN PHYLLIS
Phyllis Kaplan, Phyllis Kaplan, Phyllis Kaplan, Phyllis Kaplan, Phyllis Kaplan
Showing 206 results

4269 SWAIM JOHN
John Swaim, John Swaim, John Swaim, John Swaim, John Swaim
Showing 105 results

4270 SWAIM PAT
Pat Swaim, PAT SWAIM, Patricia Swaim, Pat Swaim, Pat Swaim
Showing 14 results

4271 DUNEGAN PATRICIA
Patricia Dunegan, Pat Vail, Patricia Dunegan, Pat Dunigan, Patrick Dunnigan
Showing 54 results

4272 DUNEGAN MICHAEL
michael dunegan, Michael Dunegan, mike dunegan, Michael Dunegan, Michael Dunnigan
Showing 131 results

4273 CALVO BOZICA LILIANA ZANINO
Not found
4274 MENDIETA JORGE ORDONEZ
Not found
4275 CORDOBA H ANDRES
Andrés F. Ruiz H., Andrés Córdoba Ibáñez
Showing 147 results

4276 CORDOBA H JUAN FERNANDO
Not found
Showing 60 results

4277 DE CORDOBA MARIA CRISTINA
Maria Cristina(Kina) de Cordoba, Maria Cristina Cordoba de Taddeo, MARIA CRISTINA CORDOBA, Maria Cristina Cordoba, MARIA CRISTINA RESTREPO CORDOBA
Showing 699 results

4278 CORDOBA C CARLOS
Carlos Cordoba
Showing 1,513 results

4279 CORDOBA C CARLOS EDWARD
Carlos Cordoba, Carlos Coronel
4280 BOYD ELAINE
Elaine Boyd, Elaine Boyd, Elaine Boyd, Elaine Boyd, Elaine Boyd
Showing 204 results

4281 BOYD JAMES
James Boyd, James Boyd, James Boyd, James Boyd, Jamie Boyd
Showing 4,147 results

4282 DEJESUS ELISA SORIA
Elisa de Jesus
Showing 1 result

4283 DEJESUS JOSELITO
JOSELITO G. DE JESUS, Joselito de Jesus, Joselito De jesus, Joselito de Jesus, Joselito De Jesus
Showing 21 results

4284 KRAUSE KATHLEEN
Kathleen Krause, Kathleen Krause, Kathleen Krause, Kathleen Krause, Kathleen Krause
Showing 203 results

4285 BROWN GRAYSON MARCIA
Marcia Santore
Showing 3 results

4286 GRAYSON DOUGLAS
Grayson Douglas, Doug Grayson, Doug Grayson, Doug Grayson, Doug Grayson
Showing 239 results

4287 LEWIS DANIEL
Daniel Lewis, Daniel lewis, Daniel Lewis, Dan Lewis, Dan Lewis
Showing 9,128 results

4288 LEWIS KAREN
Karen Lewis, Karen Lewis, Karen Lewis, Karen Lewis, Karen Lewis
Showing 4,348 results

4289 NEEDHAM CAREY
Carey Needham, Carey Needham, Carey Needham, Carey Needham, Carey N.
Showing 74 results

4290 SIEMIETKOWSKI MARIANNE
Marianne Siemietkowski Needham
Showing 1 result

4291 GRAHAM BRIAN CARL
Carl Frammolino, Brian Nagle
Showing 75 results

4292 GRAHAM MARGARET MARY
mary margaret graham, Margaret-Mary Graham, Mary Margaret Graham, Margaret Graham, Mary Graham
Showing 135 results

4293 SMITH LINDA
Linda A Smith, Linda Smith, Linda Smith, Linda Smith, Linda Smith
Showing 13,781 results

4294 SMITH ROBERT
Robert F. Smith, Robert Smith, Robert Smith, Robert Smith, Robert S.
Showing 93,842 results

4295 KUBAN LYNN
Lynn Kuban
Showing 2 results

4296 KUBAN MAURICE
Not found
Showing 3 results

4297 NESVET MARSHA
Not found
4298 NESVET FRANK
Frank Nesvet
Showing 1 result

4299 SMITH MARJORIE
Marjorie Smith, marjorie smith, Marjorie Smith, Marjorie Smith, Marjorie Smith
Showing 1,352 results

4300 SMITH NEAL
Neal Smith, Neal Smith, Neal Smith, neal smith, Neal Smith
Showing 2,282 results

4300 Saved
4301 FOSTER JAMES
Jim Foster, James Foster, James Foster, James Foster, James Foster
Showing 36,847 results

4302 FOSTER JUDITH
Judith Foster, Judith Foster, Judith F., Judith Foster, Judith Foster
Showing 2,904 results

4303 SCHIEFER AMY
Amy Schiefer, Amy Schiefer, Amy Schiefer, Amy Schiefer, Amy Markle (Schiefer)
Showing 16 results

4304 SCHIEFER DOUGLAS
Doug Schiefer, Doug Schiefer, Douglas Schiffer, Douglas Schiffer, Douglas Schiefer
Showing 15 results

4305 DOUGHERTY CHERALAINE
Cheralaine Dougherty, Cheralaine Dougherty, Cheralaine Dougherty, Cheralaine Dougherty
Showing 4 results

4306 DOUGHERTY JOHN
John Dougherty, John Dougherty, John Dougherty, John Dougherty, John Dougherty
Showing 1,875 results

4307 FERGUSON DIANE
Diane Ferguson, Diane Ferguson, Diane Ferguson, Diane Hill, Diane Ferguson
Showing 631 results

4308 FERGUSON WILLIAM ANDREW
Andrew Ferguson, Andrew Ferguson, Andrew Ferguson, Andrew Ferguson, Will Ferguson
Showing 114 results

4309 STERNBERG RUTH
Ruth Sternberg, Strengths Detective 🕵️  MA, CPRW, CEIC, Ruth Sternberg, Ruth Sternberg, Ruth Sternberg, Ruth Sternberg
Showing 44 results

4310 STERNBERG GENE
Eugene Sternberg rickyray
Showing 172 results

4311 BROCKSEKER JOSEPH
Not found
4312 BROCKSEKER DONNA
Not found
4313 ROGERS BETTY
Betty Rogers, Betty Rogers, Betty Rogers, Betty Rogers, Betty Rogers
Showing 676 results

4314 ROGERS DEAN
Dean Rogers, Dean Rogers, Dean Rogers, Rogers, Dean, Dean Rogers
Showing 12,709 results

4315 PEMBERTON SANDRA
Sandra Pemberton, Sandra Pemberton, Sandra Pemberton, Sandra Pemberton, Sandra Pemberton
Showing 82 results

4316 BUENAVENTURA LOURDES
LOURDES BUENAVENTURA, Lourdes Buenaventura, Lourdes Buenaventura, Lourdes S. Buenaventura, Lourdes Buenaventura
Showing 174 results

4317 BUENAVENTURA CESAR
César Antonio Arana Bazán, César Alejandro Rodríguez Cortés, César Augusto Tipacti Castillo
Showing 3,300 results

4318 PONTZ CURT
Not found
4319 PONTZ PATRICIA
Patricia Pontz, Patricia Pontz, Patricia Pontz, Pat Pontz, Pat Quigley
Showing 7 results

4320 WILLIAMS MABEL
Patricia Pontz, Patricia Pontz, Patricia Pontz, Pat Pontz, Pat Quigley
4321 WILLIAMS WESLEY
Wesley Williams, Wesley Williams, Wes Williams, Wesley Williams, Wesley Williams
Showing 3,175 results

4322 MILAZZO JOSEPH TODD
Not found
4323 MILAZZO SANDRA LYNN
Not found
4324 OLIVER BONNIE
Not found
Showing 303 results

4325 OLIVER CURTIS
Oliver Curtis, Oliver Curtis, Oliver Curtis, Oliver Curtis, Oliver Curtis
Showing 589 results

4326 PRATT DAVID
Oliver Curtis, Oliver Curtis, Oliver Curtis, Oliver Curtis, Oliver Curtis
Showing 5,672 results

4327 PRATT PAULA
Paula Pratt, Paula Pratt, Paula Pratt, Paula Pratt, Paula Pratt
Showing 334 results

4328 BUSTARD WILLIAM
william bustard, William Bustard, Bill Bustard, Bill Bustard, William Dunn
Showing 20 results

4329 BUSTARD LINDA
william bustard, William Bustard, Bill Bustard, Bill Bustard, William Dunn
Showing 3 results

4330 NEMETZ SUZANNE
Suzanne Nemetz, Suzanne Nemetz, Susanne Nemetz
Showing 5 results

4331 NEMETZ JACK
Suzanne Nemetz, Suzanne Nemetz, Susanne Nemetz
Showing 9 results

4332 DAVALOS ROBERTO
Jack Nemetz, Jack Nemetz, Jack Nemetz, Kristina Nemetz, CPRP
Showing 117 results

4333 DAVALOS VIOLETA
Violeta Davalos, violeta davalos, Violeta Mancilla Davalos, Violeta Davalos, Violeta Dávalos Villadózola

Showing 13 results

4334 YABLUN JEFFREY
Jeff Yablun
Showing 1 result

4335 MAGUIRE CARLA
Jeff Yablun
Showing 1 result

4336 MAGUIRE MICHAEL
Carla Grosvenor, Carla Maguire, carla maguire, carla maguire, Maguire Carla
Showing 2,757 results

4337 CALLAHAN RUBY
Michael Maguire, Michael Maguire, Michael Maguire, Michael Maguire, Michael Maguire
Showing 2,757 results

4338 LUTHER ROBERT JR
Robert Luther Jr, Luther Elmore Jr., John Robert Leibforth Jr., Stanley Frencher Jr
Showing 1,084 results

4339 LUTHER DEBORAH
Robert Luther Jr, Luther Elmore Jr., John Robert Leibforth Jr., Stanley Frencher Jr
Showing 1,084 results

4340 WRIGHT LYNETTE
Lynette Wright, lynette wright, Lynette Wright, Lynette Wright, Lynette Wright
Showing 201 results

4341 DEPEW DON
Lynette Wright, lynette wright, Lynette Wright, Lynette Wright, Lynette Wright
Showing 75 results

4342 DEPEW LINDA
Linda Depew, Linda Depew, Linda DePew, Linda Depew, Linda Depew
Showing 87 results

4343 DEPPEN JOHN
John Deppen, John D., John Deppen, John Deppen, John Deppen
Showing 20 results

4344 DEPPEN GAIL
John Deppen, John D., John Deppen, John Deppen, John Deppen
Showing 3 results

4345 KARASU SUAT
Gail Ruth Deppen, Abigail Deppen, Abigail Deppen
Showing 8 results

4346 WALKOVIAK JOE
Not found
4347 WALKOVIAK DONNA
Not found
4348 LAKE DEBORAH
Deborah Dawson, Deborah Lake, Deborah Lake, Lake Deborah, Lake Deborah
Showing 11,849 results

4349 LAKE WILLIAM
Lake, William, William Lake, William Lake, William Lake, William Lake
Showing 40,262 results

4350 MILLS ELAINE
Lake, William, William Lake, William Lake, William Lake, William Lake
Showing 572 results

4350 Saved
4351 MILLS JAY
Jay Mills, Jay Mills, Jay Mills, Jay Mills, Karthik Jay Jay Mills
Showing 3,136 results

4352 CROWLEY JAMES
Jay Mills, Jay Mills, Jay Mills, Jay Mills, Karthik Jay Jay Mills
Showing 1,696 results

4353 CROWLEY KAREN
Karen Crowley, Karen Crowley, Karen Crowley, Karen Crowley CPA, karen Crowley
Showing 407 results

4354 METZ ALFRED JR
Karen Crowley, Karen Crowley, Karen Crowley, Karen Crowley CPA, karen Crowley
4355 METZ JOSEPHINE
Joséphine Metz, Joséphine Missoffe, Fouquet Joséphine, Josephine PITRUZZELLA
Showing 108 results

4356 JENKINS JUDITH
Judith Jenkins, Judith Jenkins, Judith Jenkins, Judith Jenkins, Judith Jenkins
Showing 531 results

4357 JENKINS LEWIS
Lewis Jenkins, Lewis Jenkins, Lewis Jenkins, Lewis Jenkins, Lewis Jenkins
Showing 1,916 results

4358 SHROYER GARY
Lewis Jenkins, Lewis Jenkins, Lewis Jenkins, Lewis Jenkins, Lewis Jenkins
Showing 27 results

4359 SHROYER REBECCA
Rebecca (Becky) Shroyer, Rebecca Shroyer, Rebecca Shroyer, Becky Shroyer, Becky Shroyer
Showing 20 results

4360 ECKERT BARBARA
Rebecca (Becky) Shroyer, Rebecca Shroyer, Rebecca Shroyer, Becky Shroyer, Becky Shroyer
4361 SMERILLO DANIEL
Daniel Smerillo, Daniel Fioravanti
Showing 2 results

4362 GOLYA WILLIAM
Bill Golya
Showing 1 result

4363 GOLYA EILEEN
Not found
4364 KING CHARLES
Not found
4365 KING FRANCES PAMELA
Pamela Michelle Ortega King, Pamela Garcia, Kristine Pamela Lualhati, Pamela Cereda
Showing 30 results

4366 HYMAN RICHARD
Pamela Michelle Ortega King, Pamela Garcia, Kristine Pamela Lualhati, Pamela Cereda
Showing 309 results

4367 HYMAN MARGARET
Richard Hyman, Richard Hyman, Richard Hyman, Richard Hyman, Richard Hyman
Showing 53 results

4368 TORRES AURELIO
Aurelio Torres MD, Aurelio T., Aurelio Torres echeverri, Aurelio Torres, AURELIO TORRES PALLARDELLI
Showing 523 results

4369 TORRES CYNTHIA
Aurelio Torres MD, Aurelio T., Aurelio Torres echeverri, Aurelio Torres, AURELIO TORRES PALLARDELLI
Showing 2,253 results

4370 MARCUS MAUREEN
Cynthia Bueno Torres, Cynthia Torres, Cynthia Torres, Cynthia Torres, Cynthia Torres
Showing 159 results

4371 MARCUS MICHAEL
Michael Marcus, Marcus Michael, Mike Marcus, Michael Marcus, Michael Marcus
Showing 6,795 results

4372 FINNEGAN DANIEL
Michael Marcus, Marcus Michael, Mike Marcus, Michael Marcus, Michael Marcus
4373 FINNEGAN PATRICIA
Daniel Finnegan, Daniel Finnegan, Daniel Finnegan, Daniel Finnegan, Daniel Finnegan
Showing 221 results

4374 FUNCK SHARRON
Sharron Funck, Sharon Funck
Showing 2 results

4375 FUNCK VICTOR
Sharron Funck, Sharon Funck
Showing 18 results

4376 WARD EDWIN JR
Edwin Ward   Jr., Edwin Ward Jr, Edwin JR Dimech, Edwin van der Heide
Showing 22 results

4377 WARD RITA
Edwin Ward   Jr., Edwin Ward Jr, Edwin JR Dimech, Edwin van der Heide
Showing 743 results

4378 HEADLEY BARBARA
Barbara Headley, Barbara Headley, Barbara Headley, Barbara Headley, Barbara Headley
Showing 79 results

4379 HEADLEY CHANNING
Channing Headley, Rebecca C., Liz Channing, Liz Channing
Showing 7 results

4380 DAKE LYLE
Channing Headley, Rebecca C., Liz Channing, Liz Channing
4381 DAKE MARILYN
Not found
Showing 5 results

4382 ASADOURIAN ALICE
Marilyn Dake, Marilyn Dake, Kathy Dake
Showing 1 result

4383 ASADOURIAN NORAIR
Asadourian Norair, Norair Asadourian
Showing 2 results

4384 TAYLOR JAMES RICHARD
Richard James Taylor, James (Jay) Richard Taylor, Richard Taylor, Richard James, James Taylor
Showing 1,371 results

4385 TAYLOR LINDA
Richard James Taylor, James (Jay) Richard Taylor, Richard Taylor, Richard James, James Taylor
Showing 1,371 results

4386 JIJON CAROLINA
Linda Y. Estes-Taylor, MBA, Pride Linda, Linda Koeman
Showing 27 results

4387 SOSA GUILLERMO
Carolina Jijón, Carolina Jijon, carolina Jijon, Michelle Carolina Contreras Jijon, Lissette Carolina Pardo Jijón
Showing 608 results

4388 JAYNES RICHARD
Richard Jaynes, Richard Jaynes, Richie Jaynes, Richard Jaynes, CISA, Richard Jaynes
Showing 147 results

4389 JAYNES SHARON
Sharon Jaynes, Sharon Barrow, Sharon Jaynes, Sharon Jaynes, Sharon Jaynes
Showing 40 results

4390 ALI HESHAM
Sharon Jaynes, Sharon Barrow, Sharon Jaynes, Sharon Jaynes, Sharon Jaynes
Showing 1,268 results

4391 ANDERSON ALI SHIRAN
Not found
4392 OLSON PETER
Peter Olson, peter olson, Peter Olson, Pete Olson, Peter Olson
Showing 2,111 results

4393 OLSON SHARON
Peter Olson, peter olson, Peter Olson, Pete Olson, Peter Olson
Showing 531 results

4394 TSAKIRIS LAURA
laura tsakiris
Showing 2 results

4395 COOPER BARBARA
laura tsakiris
Showing 2,850 results

4396 COOPER JAMES
Barbara Cooper Clarke, Barbara Cooper, Barbara Cooper, Barbara Cooper, Barbara Cooper
Showing 12,480 results

4397 GYORFFY TED
Ted Gyorffy, Judit Györffy
Showing 2 results

4398 GYORFFY JUDITH
Judit Györffy, Judit Györffy, Judith Hasler, Judit Gráf
Showing 4 results

4399 M ARBOGAST CO
Judit Györffy, Judit Györffy, Judith Hasler, Judit Gráf
4400 STRONG LINDA
Casey Arbogast, Darin Arbogast, Jacqueline ARBOGAST, Alexandra Arbogast, LICSW, LCSW-C, C-IAYT
Showing 41,634 results

4400 Saved
4401 STRONG DAVID
Dave Strong, David Strong, David Strong, David Strong, David Strong
Showing 249,420 results

4402 STRONG LEIGH JR
Dave Strong, David Strong, David Strong, David Strong, David Strong
Showing 159 results

4403 STRONG MATHEW
Mathew Strong, Jon Mathew Strong, Mathew Strong, Manju Mathew, Biju Mathai Mathew
Showing 9,339 results

4404 SUTTON ANGELA
Mathew Strong, Jon Mathew Strong, Mathew Strong, Manju Mathew, Biju Mathai Mathew
Showing 9,339 results

4405 SUTTON GEORGE
George Sutton, George Sutton, SUTTON GEORGE, George Sutton, George Sutton
Showing 3,886 results

4406 HARRITY RICHARD JR
George Sutton, George Sutton, SUTTON GEORGE, George Sutton, George Sutton
Showing 3,886 results

4407 HARRITY BRIAN
George Sutton, George Sutton, SUTTON GEORGE, George Sutton, George Sutton
Showing 3,886 results

4408 HARRITY PATRICIA
George Sutton, George Sutton, SUTTON GEORGE, George Sutton, George Sutton
Showing 14 results

4409 HARRITY RICHARD
Patricia Harrity FRSA, Patricia Harrity, Pat Harrity, Patricia Harrity, Patricia Harrity
Showing 14 results

4410 O HARA DANIEL JR
Patricia Harrity FRSA, Patricia Harrity, Pat Harrity, Patricia Harrity, Patricia Harrity
Showing 7 results

4411 TAYLOR CAROLE
Daniel O'Hara Jr, PharmD, Daniel Trujano
Showing 7 results

4412 TAYLOR VAN
Daniel O'Hara Jr, PharmD, Daniel Trujano
Showing 7 results

4413 RUTLEDGE WILLIAM
Billy Rutledge, William Rutledge, William Rutledge, Bill Rutledge, Billy Rutledge
Showing 502 results

4414 ELLY YVONNE
Yvonne Schwemmer, Yvonne Buckerfield
Showing 19 results

4415 ELLY ROBERT
Yvonne Schwemmer, Yvonne Buckerfield
Showing 207 results

4416 RICKENBACH ROBERT
elly robert, Elly en Rob van Zuilen, Elly en Bob van amerongen, Rob/Elly Sanderson, Elly en Rob privé kambeel - van uffelen
Showing 207 results

4417 RICKENBACH ROBIN
Not found
4418 DELPRIORE JOAN
Not found
4419 DELPRIORE TOM
Not found
Showing 4 results

4420 HUESTON GEORGIANA
Tom Delpriore, Thomas Del Priore, Tom del priore, Thomas  L. Del Priore
Showing 4 results

4421 HUESTON ROBERT
Tom Delpriore, Thomas Del Priore, Tom del priore, Thomas  L. Del Priore
Showing 4 results

4422 HUESTON FAMILY
Tom Delpriore, Thomas Del Priore, Tom del priore, Thomas  L. Del Priore
Showing 4 results

4423 CALIFANO JULIE
Tom Delpriore, Thomas Del Priore, Tom del priore, Thomas  L. Del Priore
Showing 4 results

4424 CALIFANO LORENZO
Not found
4425 BABST JENNIFER
Not found
4426 BABST ROBERT
Not found
4427 PADDOCK JOSEPH
Not found
4428 HOUSTON BERNADINE
Not found
4429 HOUSTON FRANCIS
FrancIS HoustOn, Trevor Houston Francis, francis houston, Francis Houston, Francis Houston
Showing 6,511 results

4430 JAARSMA DEBORAH
FrancIS HoustOn, Trevor Houston Francis, francis houston, Francis Houston, Francis Houston
Showing 6,511 results

4431 BARBERI EDWARD JR
Debbie (A.D.C.) Jaarsma, DVM PhD, Debbie Jaarsma, Deb Jaarsma
4432 BARBERI BERNADETTE
Bernadette Barbier, Bernadette Barbieri Coser de Orem, Bernadette, Claire Barbier, Bernadette BERLIOZ-BARBIER, Bernadette Barbieri
Showing 11 results

4433 HUGGARD JOHN
Bernadette Barbier, Bernadette Barbieri Coser de Orem, Bernadette, Claire Barbier, Bernadette BERLIOZ-BARBIER, Bernadette Barbieri
Showing 11 results

4434 HUGGARD CLEOPATRA
John Huggard, John Huggard, John Huggard, John Huggard, John Huggard
Showing 124 results

4435 SIKAND RAJINDAR
John Huggard, John Huggard, John Huggard, John Huggard, John Huggard
Showing 124 results

4436 SIKAND ANJU
Sikand Rajindar
Showing 1 result

4437 BASILE BERNARDINE
Not found
4438 BASILE MICHAEL
Not found
4439 WOODS ELLA
Not found
4440 WOODS JAMES
Not found
4441 MAAS RENATE
Not found
4442 MAAS WERNER
Not found
Showing 95 results

4443 MAGARINOS JUAN
Werner Maas, Werner Maas, Werner Maas, Werner Maas, Werner Maas
Showing 95 results

4444 MAGARINOS LILLIAN
Werner Maas, Werner Maas, Werner Maas, Werner Maas, Werner Maas
Showing 95 results

4445 FERRELL ROXANE
Not found
4446 FERRELL TIM
Not found
4447 GIORGIO ANTHONY
Not found
Showing 461 results

4448 GIORGIO SUSANNE
Anthony Giorgio, anthony giorgio, Anthony Giorgio, Anthony Giorgio, Anthony Di Giorgio
Showing 461 results

In [29]:
others_batch.head(3)

,Grantees,Index,Found Names,Found Links,Found Results,Searching Name
4000,"SMITH, HOWARD J",7309,"[Howard Smith, Howard Smith]","[/in/howardasmith/, /in/howard1smith/]","Showing 14,086 results",SMITH HOWARD
4001,"TAN, FABER TRUSTEE",7310,"[Faber Tan, Faber Tan, Faber Tan, Kelvin Tan K...","[/in/faber-tan-89ba93a/, /in/faber-tan-4885437...",Showing 162 results,TAN FABER
4002,"TAN, ANNETTE TRUSTEE",7310,NaN,NaN,NaN,NaN